.button-ripple {
  width: 200px;
  height: 100px;
  line-height: 100px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
