.button-ripple {
  width: 150px;
  height: 60px;
  border: none;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
