.locale_nav {
  & &__select {
    font-size: 14px;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 40px;

    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled,
    ::ng-deep .mat-form-field-outline,
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end,
    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline,
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
      opacity: 0;
      border: none;
      border-radius: 0;
      padding: 0;
    }

    ::ng-deep .no-line .mat-form-field-underline {
      display: none;
    }
  }
}
