<div class="container__users-form">
  <h2>Login</h2>
  <form
    (ngSubmit)="onSubmit(ngForm)"
    #ngForm="ngForm"
    [formGroup]="loginForm"
    class="form-container"
  >
    <div>
      <mat-form-field>
        <mat-label for="login">Login: </mat-label>
        <input
          matInput
          id="login"
          type="text"
          placeholder="login"
          name="login"
          formControlName="login"
          (blur)="getLoginErrorMessage()"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label for="password">Password: </mat-label>
        <input
          matInput
          id="password"
          type="password"
          name="password"
          placeholder="password"
          formControlName="password"
          (blur)="getPasswordErrorMessage()"
        />
      </mat-form-field>
    </div>
    <div class="errors-container">
      <div class="errors-container__type" *ngIf="loginForm.get('login')?.invalid">
        <mat-error *ngFor="let error of loginErrors">{{ error }} </mat-error>
      </div>
      <div class="errors-container__type" *ngIf="loginForm.get('password')?.invalid">
        <mat-error *ngFor="let error of passwordErrors">{{ error }} </mat-error>
      </div>
    </div>
    <button
      mat-stroked-button
      color="primary"
      aria-label="icon button with a create_new_folder icon"
      [class]="'button'"
      ariaCurrentWhenActive="page"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
  </form>
</div>
