.boards-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.title-container {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #dde2ed;
  margin-bottom: 20px;
  box-shadow: inset 0 0 15px rgb(190, 193, 213);
  &:hover {
    box-shadow: inset 0 0 45px #4747478a;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__heading {
      padding: 0;
      margin: 0;
      display: inline-block;
      font-size: 20px;
    }
  }
}
