.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 80px;
  box-sizing: border-box;
  // padding: 10px;

  &__logo-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    color: white;

    &:visited {
      color: white;
    }
  }

  &__nav-block {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }

  &__board-block {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__user-block {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
