<mat-card class="card-container" *ngIf="board" [routerLink]="['/boards', board._id]">
  <div class="card-container__inner">
    <mat-card-title
      class="card-container__inner__heading"
      *ngIf="!formVisible"
      (click)="update($event)"
      >{{ board.title }}</mat-card-title
    >

    <form
      (click)="onClick($event)"
      class="card-container__inner__heading"
      *ngIf="formVisible"
      (ngSubmit)="onSubmit(ngForm)"
      #ngForm="ngForm"
      [formGroup]="updateBoardForm"
    >
      <mat-form-field class="form-field">
        <input matInput name="title" class="textarea" formControlName="title" required />
      </mat-form-field>
      <button (click)="cancel($event)" type="submit" title="cancel" mat-icon-button color="primary">
        <mat-icon>cancel</mat-icon>
      </button>
      <button
        [disabled]="!updateBoardForm.valid"
        title="save changes"
        type="submit"
        mat-icon-button
        color="primary"
      >
        <mat-icon>save</mat-icon>
      </button>
    </form>
  </div>

  <mat-card-content
    matRipple
    [matRippleCentered]="true"
    class="ripple-container"
    *ngIf="board"
    [routerLink]="['/boards', board._id]"
  >
    <mat-chip-list aria-label="Owner"
      >Owner:
      <mat-chip
        matTooltip="{{ board.owner | usernameById | async }}"
        [matTooltipShowDelay]="500"
        matTooltipPosition="above"
        class="item__chips"
        >{{ board.owner | usernameById | async | slice: 0:1 | uppercase }}</mat-chip
      >
    </mat-chip-list>
    <mat-chip-list aria-label="Users"
      >Users:
      <div class="hidden-overflow">
        <!-- <div *ngIf="!(isLoading$ | async)"> -->
        <mat-chip
          *ngFor="let user of board.users"
          matTooltip="{{ user | usernameById | async }}"
          [matTooltipShowDelay]="500"
          matTooltipPosition="above"
          class="item__chips"
          >{{ user | usernameById | async | slice: 0:1 | uppercase }}</mat-chip
        >
        <!-- </div> -->
      </div>
    </mat-chip-list>
  </mat-card-content>
  <button
    mat-icon-button
    type="button"
    class="delete"
    title="delete board"
    (click)="onDelete($event)"
    color="primary"
  >
    <mat-icon>delete</mat-icon>
  </button>
</mat-card>
