<div class="container_wide">
  <section class="left">
    <div class="quote">
      <h3 class="quote__text" i18n>
        Everything you do should be done well, even if you commit madness.
      </h3>
      <span i18n>Honore de Balzac</span>
    </div>

    <div class="quote__down">
      <h3 i18n class="quote__down__text">
        Do it well<br />
        with our Kanban board!
      </h3>
    </div>
  </section>
  <section class="right">
    <div class="right_1">
      <div class="top">
        <div class="sticker sticker_1">
          <div class="sticker__inner">
            <h3 class="sticker__text" i18n>
              Just simple <br />
              Kanban Board
            </h3>
          </div>
        </div>
        <div class="sticker sticker_2">
          <div class="sticker__inner">
            <h3 i18n>Why to use<br />Kanban board?</h3>
            <a class="sticker__text-link" href="https://www.atlassian.com/agile/kanban/boards"
              ><h3 i18n>Ask our competitors...</h3></a
            >
            <h3 i18n>...and return <br />to our simple board!</h3>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="sticker sticker_3">
          <div class="sticker__inner">
            <ul class="right__list">
              <li class="right__list-item">
                <mat-icon color="primary">done_outline</mat-icon>
                <ng-container i18n>Create boards</ng-container>
              </li>
              <li class="right__list-item">
                <mat-icon color="primary">done_outline</mat-icon>
                <ng-container i18n>Rearrange tasks / columns</ng-container>
              </li>
              <li class="right__list-item">
                <mat-icon color="primary">done_outline</mat-icon>
                <ng-container i18n>Search tasks</ng-container>
              </li>
              <li class="right__list-item">
                <mat-icon color="primary">done_outline</mat-icon>
                <ng-container i18n>Select users</ng-container>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right_2">
      <div class="sticker sticker_4">
        <div class="sticker__inner">
          <h3 class="sticker__text" i18n>Created with</h3>
          <div class="sticker__imgContainer">
            <div class="logosRow">
              <img i18n-alt src="./assets/heart.png" alt="heart" height="30px" />
              <ng-container i18n>and</ng-container>
            </div>
            <div class="logosRow">
              <img
                i18n-alt
                class="sticker__img"
                src="./assets/angular-logo.png"
                alt="angular Logo"
                height="30px"
              />

              <img
                i18n-alt
                src="./assets/Typescript_logo.png"
                alt="Typescript_logo Logo"
                height="30px"
              />
              <img  i18n-alt src="./assets/ngrx.svg" alt="ngrx Logo" height="30px" />
              <img  i18n-alt src="./assets/rxjs-1.svg" alt="rxjs Logo" height="30px" />
              <img  i18n-alt src="./assets/scss-logo.png" alt="scss Logo" height="30px" />
              <img  i18n-alt src="./assets/angular-material-logo.svg" alt="material Logo" height="30px" />
            </div>
          </div>

          <h3 class="sticker__text" i18n>during the</h3>
          <div>
            <a
              class="sticker__course"
              href="https://github.com/rolling-scopes-school/js-fe-course-en/tree/main/UpSkillMe"
              ><img i18n-alt src="./assets/epam-logo.png" alt="epam logo" height="30px" />
              <ng-container i18n>UpSkillMe course</ng-container></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
