.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 0px;
  margin: 3px;
  background-color: #dde2ed;
  border-radius: 2px;
  // border: 1px solid darken(#e0e0e0, 30);
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  &__heading {
    display: inline-block;
    padding: 0 0 0 30px;
    margin: 0;
    width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    align-self: center;
  }
}
